cache
artifacts
/.DS_Store
.DS_Store
/contracts/dist/
/contracts/types/
build/
node_modules/
.zos.session
.openzeppelin/.session
deployments/
env/
dist/
.env
bin/
solc
coverage/
coverage.json
yarn-error.log
typechain-types/
typechain
